@import "tailwindcss";
.mrs {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 30px;
  margin-top: 28px;
}


.section {
background-color: black;
color: white;

}
.resume{
    margin-right: 20px;
}

