@import "tailwindcss";
.mrs {
  font-family: "Mrs Saint Delafield", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 45px;
}


.section {
background-color: black;
color: white;

}
.resume{
    margin-right: 20px;
}

