@import "tailwindcss";

.mrs {
  font-family: "Mrs Saint Delafield", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 45px;
}
.neonderthaw {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  
}